<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <!-- header -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" align="center" class="container-table">
        <tr>
            <td width="20%" align="left" >
                <img alt="SomoSport Logo" src="https://somosport-s3.s3.amazonaws.com/logosomosportcompleto1479494176269.png">
            </td>
            <td width="60%" align="center" ></td>
            <td width="20%" align="rigth">
                <img alt="Alianza" src="https://somosport-s3.s3.amazonaws.com/logoalianza1479494219199.png">
            </td>
        </tr>
        <!-- Content -->
        <tr style="background-color:#F6F6F6; color: #000">
            <td width="20%" align="left" ></td>
            <td width="60%" >
                <p style="font-style: italic;">Welcome to Somosport ${username}</p>
                <p style="font-style: italic;"">We will assist you to register your team at <strong>"${_name}"</strong></p>
                <p>Thanks for signing up!</p>
                <p>To continue with the registration of your Team in <strong>"${_name}"</strong>, please log in at <a href="${origin}">Login</a> and pick up where you left off</p>
                <!--p>We're always here to help, so if you have questions visit us at [url]. <p-->
                <p>Thanks,</p>
                <p><strong>— The Somosport Team at Alianza</strong></p>
            </td>
            <td  align="rigth"></td>
        <tr style="background-color:#F6F6F6; color: #000">
            <td width="20%" align="left" ></td> 
            <td width="60%" >
                <p>Note: This email was sent from an address that cannot accept incoming email.</p>
                <p>You have received this business communication as part of our efforts to fulfill your request or service your account. Please note that you may receive this and other business communications from us even if you have opted out of marketing messages as that choice does not apply to important messages that could affect your service or software, or that are required by law.</p>
                <p>Somosport respects your privacy. </p>
                <p>© Somosport Inc.,</p>
            </td>
            <td width="20%"  align="rigth"></td>
        </tr>         
    </table>
<!-- End wrapper table -->
</body>