<table style="width:100%;border-collapse:collapse">
	<tbody>
		<tr>
			<td class="m_4445496107839198780user-action" colspan="2" style="font:14px/1.4285714 Arial,sans-serif;padding:0;line-height:1">
				<span>Important information from <strong>Somosport</strong></span>
			</td>
		</tr>
		<tr>
			<td class="m_4445496107839198780spacer" style="font:14px/1.4285714 Arial,sans-serif;padding:10px 0 0"></td>
		</tr>
		<tr>
			<td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
				<p style="margin-bottom:0;margin-top:0">The password for <strong>${username}</strong> was changed. If you did not make this change, please email <a href="mailto:support@somosport.com" target="_blank">support@somosport.com</a>.
				</p>
			</td>
		</tr>
		<tr>
			<td class="m_4445496107839198780spacer" style="font:14px/1.4285714 Arial,sans-serif;padding:10px 0 0"></td>
		</tr>
		<tr>
			<td class="m_4445496107839198780spacer" style="font:14px/1.4285714 Arial,sans-serif;padding:10px 0 0"></td>
		</tr>
		<tr>
			<td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
		</tr>
		<tr>
			<td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
				<span>Thanks,</span>
			</td>
		</tr>
		<tr>
			<td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
				<span>The Somosport Team</span>
			</td>
		</tr>
	</tbody>
</table>