<td valign="top" class="top-content action-content" style="padding-left: 21%">
	<h1>${username},</h1>
	<p>Your password has changed successful for your account.</p>
	<p>You can change your password at any time by logging into <a href="${origin}">your account</a>.</p>
	<p>If you requested this password change, you can ignore this message.</p>
	<p>If you did not make this change, please contact us at
        <a href="mailto:info@somosport">info@somosport</a>
        or by phone at 
        <a href="tel:{{var phone}}">{{contact_phone}}</a>.
    </p>
</td>