<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellpadding="0" cellspacing="0" border="0">
		    <tr>
		        <td class="action-content">
		            <h1>${result[0].email},</h1>
		            <p><strong>Your new password is:</strong> ${generated_password}</p>
		            <p>You can change your password at any time by logging into <a href="req.header.origin}">your account</a>.</p>
		        </td>
		    </tr>
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px;margin:0;">Gracias, <strong>Somossport</strong></p></center></td>
            </tr>
		</table>
	</div>
</body>