<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <!-- header -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" align="center" class="container-table">
        <tr style="background-color: #00796b; text-align: center;">
            <td>
                <h5 style="line-height: 5px;text-align: center; font-size: 14px;">
                    <img alt="SomoSport Logo"  href="${origin}" src="http://ss-management-dev.herokuapp.com/img/somosport-brand-small.png">
                </h5>
            </td>
        </tr>
        <!-- Content -->
        </tr style="text-align: center; font-size: 12px;">
            <td style="padding-left: 21%">
                <h1>Welcome ${username}</h1>
                <p>To log in just click <a href="${origin}">Login</a> at the top of every page, and then enter your email or username  and password.</p>
                <p class="highlighted-text">
                    Use the following values when prompted to log in:<br/>
                    <strong>Username or Email</strong>: ${username} or ${email} <br/>
                </p>
            </td>
        </tr>
        <!-- End Content -->
        <tr style="background-color: #00796b;">
            <td class="col-md-12">
                <h5 class="closing-text" style="color: #f6f6f6; line-height: 5px;text-align: center; font-size: 14px;">Thank you, Somosport!</h5>
            </td>
        </tr>         
    </table>
    <!-- End wrapper table -->
</body>