<!-- <td style="padding-left: 21%; color: #000;">
    <h1>Welcome ${username}</h1>
    <p>To log in just click <a href="${origin}">Login</a> at the top of every page, and then enter your email or username  and password.</p>
    <p class="highlighted-text">
        Use the following values when prompted to log in:<br/>
        <strong>Username or Email</strong>: ${username} or ${email} <br/>
    </p>
</td> -->

<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; text-align: justify;">
    <!-- header -->
    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" align="center" class="container-table" 
    		style="background-color:#F6F6F6; color: #000; font-size:12px">
        <tr>
            <td width="20%" align="center" >
                <img alt="SomoSport Logo" src="https://somosport-s3.s3.amazonaws.com/logosomosportcompleto1479494176269.png">
            </td>
            <td width="60%" align="center" >

            </td>
            <td width="20%" align="rigth">
                <img alt="Alianza" src="https://somosport-s3.s3.amazonaws.com/logoalianza1479494219199.png">
            </td>
        </tr>
        <!-- Content -->
        <tr>
            <td width="20%" align="center" style>
            </td>
            <td width="60%" >
                <p style="font-size:18px"><b>Bienvenido a Somosport, ${username}.</b></p>
                <p style="font-size:18px"><i>Es nuestro placer asistirte en el proceso de registro de tu equipo en la competición de Alianza: <strong>"Houston Coca Cola"</strong> y/o <strong>"Ram Copa Alianza"</strong></i></p>
                <br>
                <p>Gracias por darte de alta en Somosport!</p>
                <p>Para continuar con el registro de tu equipo en <strong>"Houston Coca Cola"</strong> haz click <a href="http://registroalianza.codefuel.me/#/competition/1">aqui</a> y completa el registro de tu equipo lo antes posible.</p>
                <p>Para continuar con el registro de tu equipo en <strong>"Ram Copa Alianza"</strong> haz click <a href="http://registroalianza.codefuel.me/#/competition/2">aqui</a> y completa el registro de tu equipo lo antes posible.</p>
                <br>
                <p>Gracias!</p>
                <p><strong>—- El equipo de Somosport con Alianza</strong></p>
            </td>
            <td width="20%"  align="rigth">
            </td>
        <tr>
            <td width="20%" align="left" ></td> 
            <td width="60%" >
            	<hr>
                <p>Nota: Este correo electrónico fue enviado desde una cuenta que no acepta recepción de correos.</p>
                <p>Tu has recibido este correo como parte de nuestro esfuerzo para asistir a Alianza de Futbol con tu solicitud de registrar equipos en sus competiciones. Tome nota por favor que Somosport provee el servicio de registro automático a Alianza de Futbol, y que por lo tanto, al registrar un equipo en una competición de Alianza de Futbol, Ud. también acepta la Política de Privacidad y los términos del servicio de Alianza de Futbol y Somosport.</p>
				<p>Alianza de Futbol y Somosport quieren proveerle el mejor servicio posible para sus organizaciones deportivas, y a través de este proceso Ud también tendrá acceso a mas servicios de Somosport.</p>
				<br>
                <p>© Somosport Inc.</p>
            </td>
            <td width="20%"  align="rigth"></td>
        </tr>  
    </table>
<!-- End wrapper table -->
</body>